@mixin line-green($position: left) {
  position: relative;
  &::before {
    content: '';
    display: block;
    top: 0;
    @if $position == left {
      left: 0;
    }
    @if $position == right {
      right: 0;
    }
    position: absolute;
    width: 15px;
    height: 100%;
    background-color: $green;
  }
}